::-webkit-scrollbar{ width:10px; }
::-webkit-scrollbar-thumb{ background: #32a852; border-radius: 0px;}
::-webkit-scrollbar-thumb:hover{ background:red; }

h1{ text-align: center; }

.copyright {
position: absolute;
top: 0;
right: 0;
}
a.copyright {
padding: 2px 5px;
background: black;
color: white;
border-radius: 6px 0;
text-decoration: none;
}